- active_nav_item :home
- @full_header = true
.row
  %p.cat-place Categories
  = render 'shared/categories_list', :categories => @categories
.row
  %p.cat-place Специальные предложения
  = render 'shared/product_list' , :products => @products
