/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 nav {
  background-color: #fff
 }

.navbar {
    background-color: #ededed;
}
.icon-bar {
    background-color: black;
}

.info {
  height: 180px;
  img {
    margin-left: 5%;
    min-height:100px;
    height:180px;
    min-width: 100px;
    width: 200px;
  }
  .contacts{
  }
  .basket {
  }
}





// .info {
//   height: 100px;
//   .row {
//     #logo {
//       // display: inline;
//       float: left;
//       img {
//         margin-left: 5%;
//         min-height:100px;
//         height:90px;
//         min-width: 100px;
//         width: 160px;
//       }
//     }
//     .thumbnail {
//       height: 100%;
//       .contacts {
//         // display: inline;
//         float: left;
//       }
//       .basket {
//         border-left: 1px solid black;
//         // display: inline;
//         float: right;
//       }
//     }
//   }
// }